
<div class="reg-form" *ngIf="registrationForm" >
  <form [formGroup]="registrationForm" novalidate>
    <h3> Форма реєстрації</h3>
    <div class="input-control">
      <label for="firstName">Ім'я</label>
      <input type="text" placeholder="Ім'я" formControlName="firstName"
        [ngClass]="{'has-error': (registrationForm.get('firstName').touched || registrationForm.get('firstName').dirty)
        &&
        !registrationForm.get('firstName').valid }">
      <span class="help-block"
        *ngIf="registrationForm.get('firstName').errors">
        <span *ngIf="registrationForm.get('firstName').hasError('required')">
          будь-ласка введіть ім'я
        </span>
        <span *ngIf="registrationForm.get('firstName').hasError('minlength')">
          ім'я повине мати не менше трьох символів
        </span>
      </span>
      <label for="lastName">Прізвище</label>
      <input type="text" placeholder="Прізвище" formControlName="lastName" 
      [ngClass]="{'has-error': (registrationForm.get('lastName').touched || registrationForm.get('lastName').dirty)
        &&
        !registrationForm.get('lastName').valid }">
        <span class="help-block" *ngIf="registrationForm.get('lastName').errors">
          <span *ngIf="registrationForm.get('lastName').hasError('required')">
            будь-ласка введіть ім'я
          </span>
          <span *ngIf="registrationForm.get('lastName').hasError('minlength')">
            ім'я повине мати не менше трьох символів
          </span>
        </span>
    </div>
    <div class="input-control">
      <label for="email">електрона скринька</label>
      <input type="email" placeholder="email" formControlName="email"
        [ngClass]="{'has-error': (registrationForm.get('email').touched || registrationForm.get('email').dirty)
        &&
        !registrationForm.get('email').valid }">
        <span class="help-block" *ngIf="registrationForm.get('email').errors">
          <span *ngIf="registrationForm.get('email').hasError('required')">
            будь-ласка введіть email
          </span>
          <span *ngIf="registrationForm.get('email').hasError('email')">
            будь-ласка введіть коректний email
          </span>
        </span>
      <label for="password">пароль</label>
      <input type="password" placeholder="пароль" formControlName="password"
        [ngClass]="{'has-error': (registrationForm.get('password').touched ||
        registrationForm.get('password').dirty)
        &&
        !registrationForm.get('password').valid }">
        <span class="help-block" *ngIf="registrationForm.get('password').errors">
          <span *ngIf="registrationForm.get('password').hasError('required')">
            будь-ласка введіть пароль
          </span>
        </span>
    </div>
    <div class="input-control">
      <label for="lastName">адреса</label>
      <input type="text" placeholder="місто" formControlName="cityName"
        [ngClass]="{'has-error': (registrationForm.get('cityName').touched || registrationForm.get('cityName').dirty)
        &&
        !registrationForm.get('cityName').valid }">
        <span class="help-block" *ngIf="registrationForm.get('cityName').errors">
          <span *ngIf="registrationForm.get('cityName').hasError('required')">
            будь-ласка введіть місто
          </span>
        </span>
      <input type="text" placeholder="вулиця" formControlName="streetName"
        [ngClass]="{'has-error': (registrationForm.get('streetName').touched ||
        registrationForm.get('streetName').dirty)
        &&
        !registrationForm.get('streetName').valid }">
        <span class="help-block" *ngIf="registrationForm.get('streetName').errors">
          <span *ngIf="registrationForm.get('streetName').hasError('required')">
            будь-ласка введіть вулицю
          </span>
        </span>
      <input type="number" placeholder="номер будинку" formControlName="numberHouse"
        [ngClass]="{'has-error': (registrationForm.get('numberHouse').touched ||
        registrationForm.get('numberHouse').dirty)
        &&
        !registrationForm.get('numberHouse').valid }">
        <span class="help-block" *ngIf="registrationForm.get('numberHouse').errors">
          <span *ngIf="registrationForm.get('numberHouse').hasError('required')">
            будь-ласка введіть номер будинку
          </span>
        </span>
    </div>
    <div class="input-control" *ngIf="!registrationForm.get('isDoctor').value">
      <label for="">виберіть сімейного лікаря</label>
      <select class="select-form"
        formControlName="choiceDoctor"
          [ngClass]="{'has-error': (registrationForm.get('choiceDoctor').touched ||
          registrationForm.get('choiceDoctor').dirty)
          &&
          !registrationForm.get('choiceDoctor').valid }">
        <option 
          selected
          value=""
          disabled
          hidden>лікар</option>
        <option *ngFor="let doctor of dropDounDoctorList"
          [value]="doctor.id">{{doctor.firstName}} {{doctor.lastName}}</option>
      </select>
      <span class="help-block" *ngIf="registrationForm.get('choiceDoctor').errors">
        <span *ngIf="registrationForm.get('choiceDoctor').hasError('required')">
          будь-ласка виберіть сімейного лікаря
        </span>
      </span>
    </div>
    <div class="input-control">
      <label for="doc">Ви є лікар?</label>
      <input type="checkbox" formControlName="isDoctor">
    </div>
    <div class="input-control" *ngIf="registrationForm.get('isDoctor').value">
      <label for="specialtys">спеціальність</label>
      <select class="select-form" formControlName="specialty"
        [ngClass]="{'has-error': (registrationForm.get('specialty').touched ||
        registrationForm.get('specialty').dirty)
        &&
        !registrationForm.get('specialty').valid }">
        <option selected value="therapist">Сімейний лікар</option>
        <option value="oculist">Окуліст</option>
        <option value="surgeon">Хірург</option>
        <option value="traumatologist">Травматолог</option>
      </select>
      <span class="help-block" *ngIf="registrationForm.get('specialty').errors">
        <span *ngIf="registrationForm.get('specialty').hasError('required')">
          будь-ласка виберіть спеціальність
        </span>
      </span>
      <label for="education">освіта</label>
      <input type="text" placeholder="освіта" formControlName="education"
        [ngClass]="{'has-error': (registrationForm.get('education').touched ||
        registrationForm.get('education').dirty)
        &&
        !registrationForm.get('education').valid }">
        <span class="help-block" *ngIf="registrationForm.get('education').errors">
          <span *ngIf="registrationForm.get('education').hasError('required')">
            вкажіть освіту
          </span>
        </span>
    </div>
    <div class="input-control input-control-button">
      <button (click)="onRegistwrUser()" type="submit" [disabled]="!registrationForm.valid">зареєструватися</button>
      <button (click)="goBack()">повернутися</button>
    </div>
  </form>
</div>