<div class="container-footer">
  <div class="logo-company">
    <a href="#" routerLink="/home">
      <img
        src="../../assets/images/physician-logo-medicine-clip-art-pictures-of-medical-symbols.png"
        alt="logo">
    </a>
    <h1>Company name</h1>
  </div>
  <div class="menu-container">
    <div>
      <menu>
        <a routerLink="/home">НА ГОЛОВНУ</a>
        <a routerLink="/about">ПРО ПРОЕКТ</a>
        <a routerLink="/contact">КОНТАКТИ</a>
      </menu>
    </div>
  </div>
  <div class="btn-log-out">
    <button *ngIf="!this.loginSevice.log" (click)=" logOut()">Вихід</button>
  </div>
</div>