.continer-news {
  display: flex;
  width: 97%;
  text-decoration: none;
  height: 250px;
  border: solid 1px;
  border-radius: 22px;
  background: rgb(255, 66, 66);
}

.continer-news div {
  margin: 1%;
}

.news-paper {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 93%;
  width: 50%;

}

img {
  height: 100%;
  width: 100%;
}

.news-foto {
  height: 95%;
  width: 50%;
}

.container-foto {
  padding: 3%;
  width: 30%;
}

.container-information {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3% 0;
  padding: 1%;

}

.container-user {
  border: solid 1px;
  background: rgb(12, 133, 233);
  color: white;
}

:host {
  width: 72%;
}

button {
  background: #dc143c;
  width: 100px;
  color: #ffffff;
  height: 30px;
}