.continer-news {
  display: flex;
  justify-content: center;
  width: 100%;
  text-decoration: none;
  height: 100%;
  background: rgb(0, 215, 255);
  background: linear-gradient(74deg, rgba(0, 209, 255, 1) 0%, rgba(37, 212, 245, 1) 65%, rgba(0, 75, 164, 1) 100%);
  color: white;
  margin-top: 10px;
}

form div {
  margin: 20% 0;
}

.news-paper {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 93%;
  width: 50%;

}

img {
  height: 100%;
  width: 100%;
}

.news-foto {
  height: 95%;
  width: 50%;
}

h2 {
    margin-bottom: 0px;
}


.has-error input[type="email"],
.has-error input[type="password"] {
  border-color: rgb(216, 12, 12);
  color: rgb(230, 14, 14);
}

button {
  width: 100%;
  background: crimson;
  height: 30px;
  margin: 10px 0;
  color: white;
  cursor: pointer;
}

.container-article {
  height: 50%;
}