<div class="container-article" *ngIf="loginSevice.log">
  <div class="continer-news">
    <div class="container-foto">
      <!-- <img src="/src/assets/61a6H3WqDdL._SY450_.jpg" alt="doctor-foto"> -->
    </div>

    <div class="news-paper">
      <h2>
        Хворий пацієнт
      </h2>
      <form [formGroup]="loginForm">
        <label for="login">введіть email</label>
        <p [ngClass]="{ 'has-error': isSubmitted && formControls.email.errors }">
          <input type="email" placeholder="Email" formControlName="email">
          <span class="help-block" *ngIf="loginForm.get('email').errors">
            <span *ngIf="loginForm.get('email').hasError('required')">
              будь-ласка введіть email
            </span>
          </span>
        </p>
        <label for="password">пароль</label>
        <input type="password" placeholder="пароль" formControlName="password">
        <span class="help-block" *ngIf="loginForm.get('password').errors">
          <span *ngIf="loginForm.get('password').hasError('required')">
            будь-ласка введіть пароль
          </span>
        </span>
        <div>
          <button (click)="userLogin()">Увійти</button>
          <button (click)="userRegistaration()">Зареєструватися</button>
        </div>
        <p *ngIf="!errorMessage" >не вірний логін або пароль</p>
      </form>
    </div>
  </div>