.container-information {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3% 0;

}

.user-information {
  display: flex;
  justify-content: space-between;
  background: rgb(12, 133, 233);
  color: white;
  padding: 2%;
  width: 40%;
}

:host {
  width: 72%;
}

.container-information-user {
  background: rgb(12, 133, 233);
  color: white;
  display: flex;
}

.container-information-user div {
  margin: 2%;
}

button {
  background: #dc143c;
  width: 300px;
  color: #ffffff;
  height: 30px;
}