<div class="container-article">
  <div class="continer-news">
    <a routerLink="/home" class="news-foto">
      <div class="container-foto">
        <img src="..//assets/images.jpg" alt="news-foto">
      </div>
    </a>
    <div class="news-paper">
      <a routerLink="/home">
        <h2>
          Вакцинація дорослих: Що перевірити, коли йдете вакцинуватись від дифтерії і правця
        </h2>
      </a>
      <a routerLink="/home">
        <p>
          Минулого року кожен другий дорослий українець не зробив необхідного щеплення від дифтерії і правця. Щоби
          захистити...
        </p>
      </a>
    </div>
  </div>
  
  <div class="continer-news">
    <a routerLink="/home" class="news-foto">
      <div class="container-foto">
        <img src="/src/assets/5832-35225728_1954759421260805_5533504936383348736_n.png" alt="news-foto">
      </div>
    </a>
    <div class="news-paper">
      <a routerLink="/home">
        <h2>
          У чому небезпека гемофільної інфекції і як захиститися
        </h2>
      </a>
      <a routerLink="/home">
        <p>
          Разом з Центром громадського здоров'я МОЗ України розповідаємо, що треба знати про гемофільну інфекцію і захист
          від неї.
        </p>
      </a>
    </div>
  </div>


    <div class="continer-news">
      <a routerLink="/home" class="news-foto">
        <div class="container-foto">
          <img src="/src/assets/original.jpg" alt="news-foto">
        </div>
      </a>
      <div class="news-paper">
        <a routerLink="/home">
          <h2>
            У яких країнах Україна закуповує вакцини
          </h2>
        </a>
        <a routerLink="/home">
          <p>
            Україна закуповує вакцини від 10 інфекційних хвороб, внесені до національного Календаря щеплень, у шести
            країн світу. Якість всіх вакцин, які закуповуються за державний кошт, підтверджена Всесвітньою організацією
            охорони здоров’я або Управлінням...
          </p>
        </a>
      </div>
    </div>
</div>