<p>
Project Functionality: Patient or doctor registration. There are several specialties available for the doctor when
registering. It is mandatory for the patient to choose a family doctor on regestration. When user login to application
there will be activated guard. This guard will load main component according to user's status (patient or doctor). For
the doctor: Only family doctor can see which one of the patients is assigned to him. They can also load personal
information about patient, for example: to see what vaccines the patient has made and change these informarion if
necessary. For the patient: The patient can see assigned to him family doctor, and also narrow-profile doctor and choose
time-slot for visit the doctor (currently partially implemented). An organizer is available for the patient and the
doctor. The patient can only make an appointment, the doctor can delete the records.
</p>